@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  font-family: "poppins", sans-serif;
  background-image: url("/img/back.jpg");
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
}
/*---------------------menu-burger--------------------------------------------------*/
.burger {
  display: none;
  position: fixed;
  top: 25%;
  right: 15px;
  z-index: 999;
}

#myNav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
}

#hamburger-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}

.span-burger {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 25px;
}

/*------------------------nav-bar---------------------------------------------------*/
header {
  background-image: url("/img/Bandeau3.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  background-position: center;
}

.devis {
  position: absolute;
  height: 110px;
  display: flex;
  margin-top: 332px;
  right: 250px;
  transition: transform 0.3s ease-in-out;
  animation: rotation 40s linear infinite;
}

.devis:hover {
  transform: scale(1.2);
}
/*-------------------animation-devis-----------------------------------------------*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*-------------------animation-devis-----------------------------------------------*/

.logo img {
  float: left;
  width: 150px;
  margin-left: -10px;
  margin-top: -20px;
}

.header__navegation {
  float: right;
  padding: 30px 40px 0 0;
}

.header__navegation ul {
  padding: 0;
  list-style-type: none;
  color: #fff;
}

.header__navegation-contact ul {
  margin-left: -85px;
  padding: 0;
  list-style-type: none;
  color: #fff;
}

nav ul li {
  display: inline-block;
}

/*--------nav--------------sous-menu------------------------------------------------*/
.sous-menu {
  margin-left: -15px;
  opacity: 0.9;
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0.2);
  z-index: 1;
}

.sous-menu .li-sous-menu {
  display: block;
  padding: 10px;
}

.sous-menu .li-sous-menu a {
  color: #fff;
  text-decoration: none;
}

.sous-menu-maladie {
  background-color: #ff0000;
  transition: all 0.5s ease;
  border-radius: 0 0 10px 10px;
}

.header__navegation li:hover .sous-menu {
  display: block;
}

.header__navegation ul li a {
  position: relative;
  color: #c2c2c2;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1.1em;
}

.header__navegation a:hover {
  color: #fff;
}

.header__navegation a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ff0000;
  transition: all 0.5s ease;
}

.header__navegation a:hover::after {
  width: 100%;
}

/*-------------------content-acceuil-----------------------------------------------*/

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 40px 0px 0px 0px;
}

.header__content {
  color: #fff;
  font-size: 37px;
  font-weight: 600;
  text-align: center;
}

.red {
  font-family: serif;
  color: #ff0000;
}

.h1-acceuil {
  font-size: 60px;
  font-family: serif;
}

.h3-acceuil {
  margin-left: 15px;
  font-size: 13px;
  margin-bottom: 50px;
}

.header__content h2 {
  color: #e0e0e0;
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 5px 0;
  text-align: center;
}

.btn {
  padding: 5px 20px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 25px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #db0101;
  transform: scale(1.1);
}

/* -----------------------barre-rechch- acceuil--------------------------------------------*/
.custom-select {
  position: relative;
  width: 100%;
}

.custom-select select {
  display: none; /* Cache le menu déroulant natif */
}

.custom-select::before {
  background-color: #e7e1e1;
  content: attr(data-selected);
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.custom-select::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-top-color: #333;
  background-color: #e7e1e1;
}

.custom-select.open::after {
  border-top-color: transparent;
  border-bottom-color: #333;
}

.custom-select ul {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.custom-select.open ul {
  display: block;
}

.custom-select ul li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-select ul li img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.custom-select ul li:hover {
  background: #f0f0f0;
}

.col-lg {
  width: 33%;
}

.btn-barre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  margin-left: 10px;
  height: 47px;
  background-color: #e7e1e1;
}

.form-controle {
  background-color: #e7e1e1;
  margin: 1px 0 45px -112px;
  height: 47px;
}

.titre-barre {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

#barre-nav-acceuil {
  display: flex;
  justify-content: center;
  background-color: #585858;
  align-items: center;
  margin: 18px 0 0;
  width: 100%;
  height: 150px;
}

.from-group {
  margin-top: 9px;
}

.container-nav-acceuil {
  width: 68%;
}

.btn-barre {
  margin: 5px 0px 0px 105px;
  background-color: red;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-barre i {
  font-size: 20px;
  margin-right: 5px;
}

/* ----------CSS pour l'interrupteur et le texte "Urgent" -------------------------------*/
.switch {
  margin: 7px -10px 0px 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #db0101;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.urgent {
  margin: 12px 0px 0px 30px;
  color: white;
  position: absolute;
}

/* ------------------------top-section--------------------------------------------*/

.texte-acceuil {
  transition: opacity 0.8s ease;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  margin: 60px 145px 10px 145px;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideInDown-active {
  opacity: 1;
  animation: slideInUp 2s ease;
}

a {
  text-decoration: none;
  color: #000000;
}

section {
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.products__header h1 {
  margin-top: 2%;
  font-size: 2.6em;
  line-height: 1em;
  font-weight: bold;
}

.products__header p {
  margin-bottom: 1.6%;
  width: 70%;
  font-size: 0.9em;
}

.container-products-item {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}

.products__item {
  height: 217px;
  margin-right: 15px;
  border-radius: 8%;
  background-color: ivory;
  width: 26%;
  padding: 5px;
  margin-bottom: 2%;
  opacity: 0.9;
  transition: 0.6s;
}

.products__item:hover {
  opacity: 1;
  box-shadow: 0 0.3em 1.6em 0 #dfdce3;
  background-color: #d3d3d3;
}

#cCarousel {
  position: relative;
  max-width: 900px;
  margin: auto;
}

#cCarousel .arrow {
  position: absolute;
  top: 45%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: #00000072;
  cursor: pointer;
}

.container-carousel,
.section {
  display: flex;
}

#cCarousel #prev {
  left: -124px;
}

#cCarousel #next {
  right: -114px;
}

#carousel-vp {
  width: 1030px;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0px 0px 0px -70px;
}

@media (max-width: 770px) {
  #carousel-vp {
    width: 510px;
  }
}

@media (max-width: 510px) {
  #carousel-vp {
    width: 250px;
  }
}

#cCarousel #cCarousel-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

.cCarousel-item {
  perspective: 1000px;
  width: 250px;
  height: 286px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cCarousel-item img {
  width: 100%;
  object-fit: cover;
  min-height: 246px;
  color: white;
}

.cCarousel-item .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  color: black;
}

.cCarousel-item .infos button {
  background: #222;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fff; /* You can change the background color */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.cCarousel-item:hover .card {
  transform: rotateY(180deg);
}

/* Optional: Adding some styles to card-back */
.card-back .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-desc__text {
  font-size: 13px;
  height: 200px;
}

.card-back button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-back button:hover {
  background-color: #0056b3;
}

.barre-agreement {
  width: 100%;
  display: block;
  background-color: #252525;
  text-align: center;
  padding: 2em 0em 2em 0em;
  margin-bottom: 80px;
}

.agreement-content {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.container {
  display: flex;
}

.image-container {
  flex: 1;
  margin: 40px;
}

.image-container img {
  max-width: 100%;
  height: 85px;
}

/*------------------------section-2- acceuil------------------------------------------------------*/
.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.section-left {
  flex-direction: row;
}

.section-right {
  flex-direction: row-reverse;
}
.section-left .text {
  order: 1;
  margin: 15px 80px 15px 10px;
}

.section-right .text {
  order: 2;
  margin: 15px 80px 15px 10px;
}

.text {
  flex: 1;
  padding: 20px;
}

.image-section-2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section-2 img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 0;
}

.h2-section2 {
  border-top: solid 1px #ff0000;
  color: white;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}

.text-section2 {
  color: white;
  font-size: 15px;
}
/*------------------------map-------------------------------------------------------*/

.company-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  border-top: solid 3px #ff0000;
  padding: 20px 20px 0;
  color: #ffff;
}

.h3-intervention {
  font-size: 23px;
  border-bottom: 2px solid white;
  display: inline-block;
}

.paragraph {
  font-size: 14px;
  padding: 20px;
  margin-top: 20px;
  color: #ffff;
}

.text {
  flex: 1;
  padding-right: 20px;
  margin-top: -172px;
  padding: 0 20px 0 20px;
}

.text-block {
  padding: 0px 10px 0 10px;
}

.map {
  margin-right: 7px;
  flex: 1;
}

/*---------------------------footer-------------------------------------------------*/

footer {
  width: 100%;
  background: #252525;
  color: #fff;
  padding: 50px 0px 0px;
  font-size: 13px;
  line-height: 15px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.footer_logo {
  width: 134px;
  position: relative;
  top: -30px;
  left: -10px;
}

.footer_about {
  position: relative;
  top: -23px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer_email {
  width: fit-content;
  border-bottom: 1px solid #ff0000;
  margin: 20px 0;
}

.col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

.li-footer:hover {
  border-bottom: 1px solid white;
  display: inline-block;
}

.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ff0000;
  margin-bottom: 50px;
}

.col form .icon {
  font-size: 18px;
  margin-right: 10px;
}

.col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.col form button .icon_right {
  font-size: 16px;
  color: #ccc;
}

.col .social_icons .social_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #ff0000;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

footer .copyright {
  text-align: center;
}

.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.bottom_line span {
  width: 15px;
  height: 100%;
  background: #ff0000;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}

@keyframes moveline {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
