@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("/img/Bandeau3.jpg");
  height: 109px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  background-position: center;
  font-family: "poppins", sans-serif;
}

/*---------------------menu-burger--------------------------------------------------*/
.burger {
  display: none;
  position: fixed;
  top: 25%;
  right: 15px;
  z-index: 999;
}

#myNav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
}

#hamburger-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}

.span-burger {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 25px;
}

/*------------------fin-burger------------------------------------------------------*/

#logo-img {
  margin: -28px 10px 10px 10px;
}

.logo img {
  margin-top: -25px;
  float: left;
  width: 150px;
}

.header__navegation {
  float: right;
  padding: 30px 40px 0 0;
}

.header__navegation ul {
  padding: 0;
  list-style-type: none;
  color: #fff;
}

nav ul li {
  display: inline-block;
}

.header__navegation ul li a {
  position: relative;
  color: #c2c2c2;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1.1em;
}

.header__navegation a:hover {
  color: #fff;
}

.header__navegation a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ff0000;
  transition: all 0.5s ease;
}

.header__navegation a:hover::after {
  width: 100%;
}

/*--------nav--------------sous-menu------------------------------------------------*/
.sous-menu {
  margin-left: -15px;
  opacity: 0.9;
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0.2);
  z-index: 1;
}

.sous-menu .li-sous-menu {
  display: block;
  padding: 10px;
}

.sous-menu .li-sous-menu a {
  color: #fff;
  text-decoration: none;
}

.sous-menu-maladie {
  background-color: #ff0000;
  transition: all 0.5s ease;
  border-radius: 0 0 10px 10px;
}

.header__navegation li:hover .sous-menu {
  display: block;
}

/*--nav----------fin-sous-menu------------------------------------------------------*/

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-left: 305px;
  padding: 0;
}

.header__content h1 {
  color: #fff;
  font-size: 2.125em;
  font-weight: 600;
  text-align: center;
}

.header__content h2 {
  color: #e0e0e0;
  font-size: 0.875em;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

/*------------------------------CSS-PRODUIT-----------------------------------------*/
.body-produit {
  background-image: url("/img/back.jpg");
  color: #ddd;
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}
.h1-produit {
  margin-bottom: 2em;
  text-align: center;
  color: #fff;
  span {
    color: #77b728;
  }
}

.p-produit,
.p-produit-rat {
  font-size: 14px;
  padding: 10px 20px 0px 20px;
  color: #ffff;
  line-height: 1.66;
  margin: 1rem 0 1.5rem;
  strong {
    color: #ddd;
    font-weight: 700;
  }
}

.border-details {
  font-size: 14px;
  border-style: inset;
}

.titre-details {
  border-bottom: 2px solid white;
  display: inline-block;
}

.details-tab {
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: #ffffffcc;
  font-weight: 600;
  display: block;
  order: 0;
  background: #ffffff13;
  border-radius: 1.5rem;
  margin-right: 0.35rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: #fff;
  }
  &::-webkit-details-marker {
    display: none;
  }
}

.details-tab-puce {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #ffffffcc;
  font-weight: 600;
  display: block;
  order: 0;
  background: #ffffff13;
  border-radius: 1.5rem;
  margin-right: 0.35rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover,
  &:focus {
    border-color: #fff;
  }
  &::-webkit-details-marker {
    display: none;
  }
}

.details-tabs {
  margin: 100px 150px 0 150px;
  position: relative;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.details-content {
  order: 1;
  padding: 1rem;
  width: 100%;
  details {
    font-size: 14px;
    summary {
      font-weight: 500;
    }
    margin: 1.5rem;
  }
}

.details-item {
  display: contents;
  &[open] {
    & > .details-tab {
      background: #fff;
      color: #333;
    }
  }
}

.img-produit {
  width: 24%;
  margin: -72px 56px 0px 39px;
  height: 165px;
  border-radius: 0px 140px;
  float: right;
}
.piegon-1 {
  margin-right: 25px;
  border-radius: 50%;
  margin-top: -2px;
  width: 22%;
  position: relative;
  float: right;
}
.img-produit-piegon {
  width: 30%;
  margin: 0px 0px 0px 30px;
  height: 200px;
  border-radius: 0px 140px;
  float: right;
}

.img-produit-puce,
.img-produit-deces {
  margin: -10px 5px 0px 54px;
  width: 28%;
  height: 200px;
  border-radius: 0px 140px;
  float: right;
}

.img-guêpe {
  margin: 0px 0px 0px 50px;
  width: 26%;
  height: 200px;
  border-radius: 0px 140px;
  float: right;
}
/*------------------------fin-taille-image-produit----------------------------------*/

/*------------------------boutton-produit----------------------------------*/
.btn-produit {
  margin: 20px 0px 25px 500px;
  width: 20%;
  padding: 9px 20px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 25px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-produit:hover {
  background-color: #db0101;
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: #000000;
}

/*------------------------barre-agreement-------------------------------------------*/
.barre-agreement {
  display: block;
  background-color: #252525;
  text-align: center;
  padding: 2em 0em 2em 0em;
  margin-bottom: 80px;
}
.agreement-content {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.container {
  display: flex;
}

.image-container {
  flex: 1;
  margin: 40px;
}

.image-container img {
  max-width: 100%;
  height: 85px;
}

/*------------------------map---------------------------------*/
section {
  display: flex;
}

.company-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h3-intervention {
  border-bottom: 2px solid white;
  display: inline-block;
}

.title {
  border-top: solid 3px #ff0000;
  padding: 20px 20px 0;
  color: #ffff;
}

.paragraph {
  font-size: 14px;
  padding: 0px 20px 20px 20px;
  color: #ffff;
}

.text {
  flex: 1;
  padding-right: 20px; /* Ajoute de l'espace entre le texte et la carte */
  margin-top: -172px;
  padding: 0 20px 0 20px;
}

.text-block {
  padding: 0px 10px 0 10px;
}

.map {
  margin-right: 2px;
  flex: 1;
}

/*---------------------------footer-------------------------------------------------*/

footer {
  width: 100%;
  background: #252525;
  color: #fff;
  padding: 50px 0 30px;
  font-size: 13px;
  line-height: 15px;
}

.row {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.footer_logo {
  width: 134px;
  position: relative;
  top: -30px;
  left: -10px;
}

.footer_about {
  position: relative;
  top: -23px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer_email {
  width: fit-content;
  border-bottom: 1px solid #ff0000;
  margin: 20px 0;
}

.col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

.li-footer:hover {
  border-bottom: 1px solid white;
  display: inline-block;
}

.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ff0000;
  margin-bottom: 50px;
}

.col form .icon {
  font-size: 18px;
  margin-right: 10px;
}

.col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.col form button .icon_right {
  font-size: 16px;
  color: #ccc;
}

.col .social_icons .social_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #ff0000;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

footer .copyright {
  text-align: center;
}

.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.bottom_line span {
  width: 15px;
  height: 100%;
  background: #ff0000;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}

@keyframes moveline {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.ul-footer {
  margin-left: -40px;
}

/*---------------responsive-------1440Px--------------------------------------------*/
@media screen and (max-width: 1440px) {
  .img-produit {
    width: 25%;
    height: 175px;
  }
  .img-guêpe {
    width: 20%;
    height: 170px;
  }
  .img-produit-puce {
    width: 20%;
    height: 180px;
    margin: -50px 10px 5px 5px;
  }
  .img-produit-piegon {
    width: 22%;
    margin: -85px 10px 10px 10px;
    height: 190px;
  }
  .img-produit-deces {
    height: 165px;
    width: 21%;
    margin: 5px 5px 0px 0px;
  }
  .btn-produit {
    margin: 20px 0px 25px 600px;
  }
  .col-footer {
    margin-left: 25px;
  }
}

/*---------------responsive-------1024Px--------------------------------------------*/
@media screen and (max-width: 1024px) {
  .sous-menu .li-sous-menu a {
    font-size: 18px;
  }
  .header__navegation {
    font-size: 15px;
    padding: 35px 30px 0 0;
  }
  .h1-produit {
    font-size: 30px;
    margin-bottom: -1rem;
  }
  .details-tabs {
    margin: 80px 150px 0 150px;
  }
  .details-tab-puce,
  .details-tab {
    font-size: 16px;
  }
  .p-produit-rat {
    padding: 0px 307px 0px 20px;
  }
  .p-produit,
  .p-produit-rat,
  .paragraph {
    font-size: 13px;
  }
  .img-guêpe {
    margin: -36px -2px 0px 15px;
    width: 26%;
    height: 160px;
  }
  .img-produit {
    width: 28%;
    margin: -147px 0px 0px 0px;
  }
  .img-produit-puce {
    margin: -20px 0px 25px 30px;
    width: 30%;
    height: 140px;
  }
  .img-produit-piegon {
    height: 150px;
    width: 28%;
    margin: -27px 0px 30px 20px;
  }
  .img-produit-deces {
    height: 165px;
    width: 28%;
    margin: -35px -10px 0px 45px;
  }
  .btn-produit {
    margin: 20px 0px 25px 420px;
    padding: 5px;
  }
  .agreement-content {
    font-size: 23px;
  }
  .section {
    display: block;
  }
  .map {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
  }
  .ul-footer {
    font-size: 12px;
  }
  .social_icon {
    transform: scale(0.9);
  }
}

/*------------------responsive----768px---------------------------------------------*/
@media screen and (max-width: 768px) {
  .header__navegation {
    padding: 35px 30px 0 0;
    font-size: 15px;
  }
  .h1-produit {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .piegon-1 {
    display: none;
  }
  .details-item {
    display: block;
    font-size: 12px;
  }
  .details-tabs {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 140px 0 190px;
  }
  .details-tab {
    text-align: center;
    font-size: 14px;
    margin-right: 45px;
  }
  .details-tab-puce {
    font-size: 12px;
    margin-right: 27px;
  }
  .paragraph {
    font-size: 12px;
  }
  .p-produit-details {
    font-size: 13px;
    width: 115%;
    margin-left: -30px;
  }
  #img-produit {
    height: 15Opx;
    width: 39%;
    border-radius: 0px 170px;
  }
  .img-guêpe {
    width: 36%;
  }
  .img-produit-puce {
    width: 38%;
    margin: 0 0 0 15px;
    height: 150px;
  }
  .img-produit-piegon {
    width: 35%;
    height: 175px;
  }
  .img-produit-deces {
    width: 37%;
  }
  .btn-produit {
    margin: 20px 0px 25px 315px;
    width: 25%;
  }
  .agreement-content {
    font-size: 22px;
  }
  [role="tablist"] {
    flex-wrap: wrap;
  }
  .section {
    display: block;
  }
  .title {
    text-align: center;
  }
  .h3-intervention {
    font-size: 27px;
  }
  .map {
    display: flex;
    margin-right: 0;
    justify-content: center;
    margin-bottom: 10px;
  }
  .paragraph {
    font-size: 13px;
  }
  .row {
    width: 100%;
    flex-wrap: nowrap;
  }
  .col {
    flex-basis: 38%;
    padding: 0px 0 0 5px;
  }
  footer .col-footer {
    display: none;
  }
  .h3-footer {
    font-size: 15px;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 55%;
    padding: 0px 0px 0px 15px;
  }
  .col-intervention {
    flex-basis: 68%;
    padding: 0px 0px 0px 0px;
  }
  .social_icons {
    display: flex;
    transform: scale(0.9);
  }
}

/*-------------------responsive---425px---------------------------------------------*/
@media screen and (max-width: 425px) {
  .burger {
    position: fixed;
    top: 25%;
    display: block;
  }
  #myNav.overlay.active {
    display: block;
    align-content: normal;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }
  .overlay.active {
    display: block;
  }
  nav ul li {
    padding: 2px;
  }
  .sous-menu-responsive {
    margin-left: -2px;
  }
  .header__navegation ul li a {
    padding: 5px 18px;
    font-weight: bold;
  }
  .header__navegation {
    font-size: 15px;
    margin-top: 100px;
  }
  .details-tabs {
    font-size: 12px;
    flex-wrap: wrap;
    display: block;
  }
  .details-item {
    margin-left: 75px;
    display: block;
    font-size: 12px;
  }
  .p-produit-details {
    font-size: 13px;
    width: 115%;
    margin-left: -30px;
  }
  .h1-produit {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 23px;
  }

  .details-tab {
    padding: 0.2rem 1rem;
  }
  .details-tab-puce {
    padding: 0.2rem 1rem;
    margin-left: -25px;
    font-size: 13px;
    margin-right: 40px;
  }
  .details-tabs {
    margin: 10px 20px 0 0;
  }
  .details-content {
    padding: 0;
    margin: 0px 0px 0px -24px;
  }
  .btn-produit {
    margin: 20px 0px 20px 109px;
    width: 45%;
    padding: 5px;
    font-size: 12px;
  }
  .p-produit,
  .paragraph {
    font-size: 12px;
  }
  .p-produit-rat {
    padding: 0px 0px 0px 20px;
  }
  .img-produit {
    width: 45%;
    height: 90px;
    margin: 5px -7px 5px 0px;
    border-radius: 0px 70px;
  }
  .img-guêpe {
    margin: -12px 0px -2px 20px;
    width: 50%;
    height: 115px;
    border-radius: 0px 80px;
  }
  .img-produit-puce {
    border-radius: 0px 75px;
    width: 45%;
    margin: 5px 0px 0px 0px;
    height: 95px;
  }
  .img-produit-piegon {
    margin: 5px;
    width: 50%;
    height: 141px;
    border-radius: 0px 100px;
  }
  .img-produit-deces {
    height: 165px;
    width: 51%;
    margin: 3px 6px 0px 30px;
    border-radius: 0px 100px;
  }
  .agreement-content {
    font-size: 20px;
  }
  .container {
    display: block;
  }
  .image-container img {
    height: 70px;
  }
  .h3-intervention {
    font-size: 24px;
  }
  .row {
    flex-wrap: wrap;
  }
  footer .footer_logo,
  .footer_about {
    display: none;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 60%;
    padding: 0px 0px 0px 15px;
  }
  .col-intervention {
    padding: 0px 0px 0px 15px;
  }
  .social_icon {
    transform: scale(0.8);
  }
}

/*-----responsive----------375px----------------------------------------------------*/
@media screen and (max-width: 375px) {
  .header__navegation {
    font-size: 14px;
    margin-top: 83px;
    padding: 52px 10px 0 0;
  }
  .details-tabs {
    flex-wrap: wrap;
    display: block;
  }
  .details-item {
    margin-left: 70px;
    display: block;
    font-size: 12px;
  }
  #hamburger-icon {
    margin-top: -15px;
  }
  .h1-produit {
    margin-top: 20px;
    font-size: 21px;
    margin-bottom: 10px;
  }
  .details-tab {
    font-size: 12px;
    padding: 0.2rem 1rem;
  }
  .details-tab-puce {
    padding: 0.2rem 1rem;
    margin-left: -25px;
    font-size: 13px;
    margin-right: 40px;
  }
  .btn-produit {
    margin: 20px 0px 20px 109px;
    width: 45%;
    padding: 5px;
    font-size: 12px;
  }
  .p-produit,
  .paragraph {
    font-size: 12px;
  }
  .p-produit-rat {
    padding: 0px 0px 0px 20px;
  }
  .img-produit {
    width: 45%;
    height: 90px;
    margin: 5px -7px 5px 0px;
    border-radius: 0px 70px;
  }
  .img-guêpe {
    margin: 6px 0px 5px 20px;
    width: 50%;
    height: 115px;
    border-radius: 0px 80px;
  }
  .img-produit-puce {
    border-radius: 0px 75px;
    width: 45%;
    margin: 5px 0px 0px 0px;
    height: 95px;
  }
  .agreement-content {
    font-size: 18px;
  }
  .container {
    display: block;
  }
  .image-container img {
    height: 70px;
  }
  .h3-intervention {
    text-align: center;
    font-size: 21px;
  }
  .row {
    flex-wrap: wrap;
  }
  footer .footer_logo,
  .footer_about {
    display: none;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 60%;
    padding: 0px 0px 0px 15px;
  }
  .col-intervention {
    padding: 0px 0px 0px 15px;
  }
}
