# Activer la réécriture d'URL
<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex Acceuil.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ Acceuil.html [L]
</IfModule>

# Désactiver l'affichage du listing des répertoires
Options -Indexes

# Bloquer l'accès aux fichiers .htaccess
<Files .htaccess>
    Require all denied
</Files>
