# Activer la réécriture d'URL
RewriteEngine On

# Redirection de http vers https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Gestion des erreurs
ErrorDocument 500 /500.html
