<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
  </head>
  <body>
    <h1>Bienvenue sur la page d'accueil</h1>
    <form action="/search" method="post">
      <input type="text" name="Nuisibles" placeholder="Nuisibles" />
      <input type="text" name="cp" placeholder="Code Postal" />
      <input type="text" name="type" placeholder="Type" />
      <input type="text" name="urgent" placeholder="Urgent" />
      <button type="submit">Rechercher</button>
    </form>
  </body>
</html>